@media (max-width: 820px) {
  #logo {
    width: 20%;
    min-width: 70px;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .icono-red img {
    display: flex;
    align-items: center;
    width: 2rem;
    margin-top: 10px;
    opacity: 40%;
  }
}

@media (max-width: 580px) {
  .descarga-app img {
    width: 100px;
    align-items: center;
  }
}
@media (max-width: 580px) {
  .nav-footer{
    display: none;
  }
}
@media (max-width: 870px) {
  .contenedor1{
    justify-content: center;
}
}
  .galeria{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

@media (max-width: 991px) {
  .daniela {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .daniela img {
    order: -1;
    width: 50%;
    padding-bottom: 25px;
  }

  .daniela p {
    padding: 0;
  }
}

/*esto es para hacer que desaparezcan los textos de las redes sociales del footer cuando se achica la pantalla*/
@media (max-width: 700px) {
  .redes h5 {
    display: none;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .redes img {
    min-width: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 2px;
  }

  .datos_foo p {
    text-align: center;
    margin: 0 auto;
  }
}