*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Prompt', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color:$mainColor;
}
a{
    text-decoration: none;
}